# tasks file for supervisor
---
- name: install | dependencies
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  with_items: supervisor_dependencies
  tags:
    - supervisor-install-dependencies

- name: install | supervisor (specific version)
  pip:
    name: supervisor
    version: "{{ supervisor_version }}"
  when: "supervisor_version != 'latest'"
  tags:
    - supervisor-install-specific

- name: install | supervisor (latest version)
  pip:
    name: supervisor
    state: "{{ supervisor_version }}"
  when: "supervisor_version == 'latest'"
  tags:
    - supervisor-install-latest
